.about-us-container {
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-us-title {
    text-align: center;
    color: #333;
}

.about-us-content p {
    color: #666;
    line-height: 1.6;
}

.about-us-features {
    text-align: center;
}

.feature {
    padding: 10px;
}

.feature p {
    font-size: 1.2rem;
}
.product-image {
    width: 200px;  /* Hoặc điều chỉnh theo nhu cầu */
    height: 300px; /* Hoặc điều chỉnh theo nhu cầu */
    object-fit: contain; /* Đảm bảo hình ảnh vừa vặn mà không bị cắt */
    object-position: center; /* Đảm bảo hình ảnh được căn giữa */
  }
  
  .product-image-placeholder {
    width: 200px;
    height: 300px;
    background-color: #f0f0f0; /* Màu nền cho hình ảnh trống */
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  